*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}


.bolhas{
    position: absolute;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

}

.bolhas span{
    width: 30px;
    height: 30px;
    background-color: rgb(250, 134, 201);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px black,
    0 0 50px white,
    0 0 100px white;
    animation: animar calc(390s / var(--i)) linear infinite;
}

@keyframes animar{
    0%{
        transform: translateY(90vh) scale(0);
    }
    100%{
        transform: translateY(-100vh) scale(1);
    }
}


.bolhas span:nth-of-type(even) {
    background: rgb(94, 176, 243);
    box-shadow: 0 0 0 10px rgb(0, 0, 0),
    0 0 50px white,
    0 0 100px white;

}

.menu{
    width: 100%;
    padding: 28px 28px;
    top: 0;
    flex-wrap: wrap; 
    justify-content: space-between;
}



.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lucas{
    display: flex;
    font-size: 15px;
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inicio{
    width: 100%;
    padding: 12%;
    height: 80%;
}

.texto-inicio{
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 20px;
    width: 100%;
}

.linke{
    display: flex;
    margin-top: 20px;
}

.mini-texto{
    display: flex;
    text-decoration: none;
    text-decoration-line: none;
    font-size: 12px;

}

.lucas-inicio{
    display: flex;
    font-size: 70px;
    font-family: "Modak", serif;
    font-weight: 400;
    
    background: linear-gradient(45deg,#7fc8f1,#5aa9e6, #7fc8f8 ,#f9f9f9, #ffe45e, #ff6392, #f3a3bb, #f9f9f9, #7fc8f8, #6db9ef);
    background-size: 400% 100%;
    animation: degrade_lucas 25s linear infinite;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes degrade_lucas {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}

.experiencia{
    display: flex;
    font-size: 15px;
    font-weight: 300;
    color: aqua;
}

.sobre{
    font-size: 13px;
    font-weight: 500;
    color: rgb(109, 108, 108);
}

.fa-solid{
    color: white;
}

.tracinhos{
    position: sticky;
    color: white;
    background-color: aliceblue;
}

.menu, .texto-inicio, .coisas-que-fiz{
    visibility: hidden;
}

.coisas-que-fiz{
    display: flex;
    padding: 12%;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    height: 100%;
}

.sobre_projetos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cards-trabalhos{
    width: 100%;
    height: 400%;
    margin-top: 9%;
    background-color: transparent;
    gap: 25px;
    flex-wrap: wrap; 
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}
@media (max-width: 600px) {
    .cards-trabalhos {
      font-size: 1.0rem;
    }
    .primeirafileira{
        flex-wrap: wrap; 
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .segundafileira{
        flex-wrap: wrap; 
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 400px) {
    .cards-trabalhos {
      font-size: 0.9rem;
    }
}

.card1{
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,#ffe5ec,#ffb3c6,#fb6f92);
    flex-direction: column;
    gap: 10px;
    padding: 4%;
}

.card1:hover{
    transform: scale(1.05);
    transition: .6s;
}

.card2{
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,#7bdff2,#eff7f6,#f2b5d4);
    flex-direction: column;
    gap: 10px;
    padding: 4%;
}

.card2:hover{
    transform: scale(1.05);
    transition: .6s;
}

.card3{
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,#ffdab9,#f8ad9d,#f08080);
    flex-direction: column;
    gap: 10px;
    padding: 4%;
}

.card3:hover{
    transform: scale(1.05);
    transition: .6s;
}

.imggitchub{
    display: grid;
}

.githubpng:hover{
    box-shadow: 0px 0px 6px 1px black;
    border-radius: 100%;
}

.githubpng{
    display: flex;
    width: 10%;
    height: 100%;
    margin-left: 90%;
}

.nomeprojeto{
    display: grid;
    color: black;
    font-weight: bold;
    margin-left: 27%;
    margin-top: 61%;

}

.nomeprojeto2{
    display: flex;
    color: black;
    font-weight: bold;
    margin-left: 27%;
    margin-top: 52%;
}



.oqueusei{
    display: flex;
    color: black;
    margin-left: 27%;
    margin-top: 7%;
    font-size:X-small;
    font-weight:500;
}

.skills{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12%;
    flex-direction: column;
    align-items: baseline;
    min-height: 100vh;

}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 9%;
    align-items: baseline;
    width: 100%;
}

.container .progresso{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    background: #444 linear-gradient(to right, transparent
    50%, var(--clr) 0);

}

.container .progresso h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.5em;
    z-index: 1;
    font-weight: 500;
}

.container .progresso h3 span{
    font-size: 0.65em;
    font-weight: 400;
}

.container .progresso h4{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
    text-transform: uppercase;
}

.container .progresso::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}

.container .progresso::after{
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #222;

}

.container .progresso::before{
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));

}

.container .progresso.less::before{
    background: #444;
    transform: rotate(calc(((var(--i) - 0) * 0.01turn)));
}

.backdoprogresso{
    justify-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 10%;
}

.linkcalculadora{
    cursor: pointer;
    width: 100%;
    height: 100%;

}











section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}   



.footer{
    background: #222;
    height: auto;
    width: 100vw;
    font-family: 'Open Sans*';
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #222;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color 4.s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-buttom{
    background: #222;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-buttom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-buttom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}